body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  font-size: min(calc(0.5rem + 1.5vw), 1.3rem);
}

a {
  color: #DDD;
  text-decoration: none;
}

.h-screen {
  height: 100vh;
}

#div-images {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.div-image {
  width: 100vh;
  height: 100vh;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slick-list, .slick-track {
  height: 100%;
}

.center-panel {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.modal {
  background-color: #333;
  color: black;
}